# Add any directories, files, or patterns y# Add any directories, files, or patterns you don't want to be tracked by version controlSolutions/Build.proj

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/

# Asset meta data should only be ignored when the corresponding asset is also ignored
!/[Aa]ssets/**/*.meta

# Jetbrain Rider Cache
.idea/
[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

#linq2db files
LinqToDB.Templates/

#Visual Studio files
*.[Oo]bj
*.user
*.tmp
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.sln.docstates
ipch/
[Oo]bj/
[Ll]ibrary/
[Bb]in
[Rr]elease*/
Ankh.NoLoad


# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

#Test files
*.testsettings

# visual studio database projects
*.dbmdl

#NuGet
*.nupkg

# Click-Once directory
publish/

# Publish Web Output
*.Publish.xml

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
*.sass-cache

*.user
*.suo
*.webtestresult
*.DotSettings
*.log

# Windows image file caches
Thumbs.db
ehthumbs.db


#OS junk files
[Tt]humbs.db
*.DS_Store

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/


#MonoDevelop
*.pidb
*.userprefs


# RIA/Silverlight projects
Generated_Code/

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Others
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.[Pp]ublish.xml
*.pfx
*.publishsettings


# NCrunch
*.ncrunch*
.*crunch*.local.xml

# Installshield output folder
[Ee]xpress/

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper

# Visual Studio profiler
*.psess
*.vsp
*.vspx

